:root {
  --bg-color: #f0f0f0;
  --text-color: #222;
  --button-bg: #ddd;
  --button-hover: #ccc;
  --circle-color: #444;
  --circle-hover: #666;
}

body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: background-color 0.3s, color 0.3s;
}

.container {
  text-align: center;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100vh;
  background: var(--bg-color);
  transition: 0.5s;
}

.phone-numbers-list {
  max-height: 80vh;
  overflow-y: auto; 
  padding: 10px;
}

.phone-numbers-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.phone-numbers-list li {
  margin-bottom: 5px;
}

.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #0006;
  display: none;
}

.overlay.show {
  display: block;
}

.sidebar.show {
    left: 0;
}

.phone-number {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
  transition: color 0.3s;
}

.input-area {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.input-area input {
  flex: 1;
  padding: 10px;
  font-size: 0.9rem;
  width: 80%;
  max-width: 300px;
  border-radius: 5px;
  border: none;
  margin: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.input-area button {
  flex-shrink: 0;
  padding: 10px 20px;
  font-size: 1rem;
  border: 1px solid #4dff00;
  border-radius: 5px;
  background-color: var(--button-bg);
  color: var(--text-color);
  cursor: pointer;
  transition: 1s;
}

.input-area button:hover {
  transform: scale(1.1, 1.1);
  box-shadow: 5px 5px 25px #4dff00;
  border-radius: 15px;
}

.saw__numbers{
  position: absolute;
  top: 80px;
  right: 20px;
  padding: 10px 15px;
  background-color: var(--button-bg);
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 1s;
}

.saw__numbers:hover {
  transform: scale(1.1, 1.1);
  box-shadow: 5px 5px 25px #fff;
  border-radius: 15px;
}

.close__numbers{
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px 15px;
  background-color: var(--button-bg);
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 1s;
}

.close__numbers:hover {
  transform: scale(1.1, 1.1);
  box-shadow: 5px 5px 25px #fff;
  border-radius: 15px;
}


.mode-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: var(--button-bg);
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 1s;
}

.mode-toggle:hover {
  transform: scale(1.1, 1.1);
  box-shadow: 5px 5px 25px #fff;
  border-radius: 15px;
}

.reset-button {
  margin-top: 20px;
  margin-left: 10px;
  padding: 15px 30px;
  background-color: var(--button-bg);
  color: var(--text-color);
  border: 1px solid #f21414;
  border-radius: 5px;
  cursor: pointer;
  transition: 1s;
}

.reset-button:hover {
  transform: scale(1.1, 1.1);
  box-shadow: 5px 5px 25px #f21414;
  border-radius: 15px;
}

body.dark-mode {
  --bg-color: #222;
  --text-color: #f0f0f0;
  --button-bg: #555;
  --button-hover: #777;
  --circle-color: #ddd;
  --circle-hover: #bbb;
}


.btn {
  margin-top: 20px;
  padding: 15px 30px;
  background-color: var(--button-bg);
  color: var(--text-color);
  border: 1px solid #4dff00;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  transition: 1s;
}

.btn:hover {
  transform: scale(1.1, 1.1);
  box-shadow: 5px 5px 25px #4dff00;
  border-radius: 15px;
}

@media (max-width: 768px) {
  .phone-number {
    font-size: 2rem;
  }

  .circle {
    width: 40px;
    height: 40px;
  }

  .input-area {
    flex-direction: column;
    align-items: stretch;
  }

  .input-area input,
  .input-area button {
    width: 100%;
    margin: 5px 0;
  }
}

@media (max-width: 480px) {
  .phone-number {
    font-size: 1.5rem;
  }
}

@media (max-width: 400px) and (max-height: 400px) {
  .mode-toggle{
    display: none;
  }
  .saw__numbers{
    display: none;
  }
}

